/* Colors and font */

header{
    color: #ffffff;
    background: AA847C;
    font-family:'Helvetica';
    font-size: 25px;
    text-align: center;
}

h1{
    color: #a2a7db;
    background: white;
    font-family:'Helvetica';
    font-size: 25px;
    text-align: center;
}
h2{
    color: #fffdfd;
    background: #b5a08f;
    font-family: 'helvetica';
    font-size: 20px;
    letter-spacing: 5px;
    font-size: 20px;
    margin-bottom: 20px;
}
body {
    color: #b5a08f;
    background: #b5a08f;
    font-family: 'helvetica';
    font-style: lighter;
    font-size: 15px;
}
h1,h2,body,a {
    text-align: center;
}


#photo2profil{
    width: 150px;
    border-radius: 100px;

}

#fb{
    width: 15px;
    border: 20px;
    
}

#linkedin{
    width: 20px;
    border: 20px;
    
}


.cadre{
    background:#fffdfd; 
    padding:15px;
    margin:20px auto;
    box-shadow: 0px 0px 50px;
    border-radius:80px;
    text-align: center;
}

.bullet-point p{
display: block;
margin: 5px 10px;
text-align: left;
}

.name{
font-size: 15px;
color: #a2a7db;
}

.date{
font-size: 13px;
font-style: italic;
padding-bottom: 5px;
}

.description{
display: block;
text-align: right;
font-size: 15px;
margin: 5px 0px;
padding: 0px 0px;
}

.parties{
margin-bottom: 40px;
}
i{
text-decoration: none;
color: #a2a7db;
size: 80px;
}


